
  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top d-flex align-items-cente">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-lg-between">
      <nav id="navbar" class="navbar order-last order-lg-0">
        <p class="logo me-auto me-lg-0">Bom-<span id="gra">Gràfico</span> </p>
        <ul>
          <li id="h"><a class="nav-link scrollto" routerLink="acceuil">Accueil</a></li>
          <li id="a"><a class="nav-link scrollto" routerLink="about">Apropos</a></li>
          <li id="c"><a class="nav-link scrollto" routerLink="client">Client</a></li>
          <li id="g"><a class="nav-link scrollto" routerLink="gallery">Galerie</a></li>
          <li id="co"><a class="nav-link scrollto" routerLink="contact1">Contact</a></li>
         <!-- <li id="d"><a class="nav-link scrollto" routerLink="produit-list">Dash</a></li> -->
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!--  <a routerLink="login" class="sign-in-btn scrollto d-none d-lg-flex">Login</a>-->
      

    </div>
  </header>