/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
    background: url("../../assets/img/back.png") center center;
    font-size: 14px;

    
  }
 

  
  #footer .footer-top .social-links a:hover {
    background-color: rgb(248, 245, 245);
    color: rgb(170, 170, 170);
    text-decoration: none;
  }

  #footer .footer-top .social-links {
    margin-left: 650px;

    
  }

 
  #footer .copyright {
    text-align: center;
  }
  #footer .credits {

    text-align: center;
    font-size: 13px;
    color: rgb(170, 170, 170);
  }

  .t{
   margin-left: 100px;
    width: 1100px;
  }

  .link1{
    position:absolute ;
    left:600px;

  }
  .link2{
    position:absolute ;
    left:640px;

  }
  .link3{
    position:absolute ;
    left:680px;
}
.link4{

    position:absolute ;
    left:720px;
}
  