

  .about {
    background: url("../../../assets/img/back2.jpg") center center;
    background-size: cover;
    position: relative;
    padding: 80px 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  }
  .about:before {
    content: "";
    
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  .about .about-img {
    position: relative;
    transition: 0.5s;
  }
  .about .about-img img {
    max-width: 100%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    margin-top: 8px;
    margin-left: 800px;
    top: 25px;
    width: 500px;
    height: 350px;
  }
  .about .about-img::before {
    position: absolute;
    left: 792px;
    top: 0px;
    width: 70px;
    height: 70px;
    z-index: 1;
    content: "";
    
    transition: 0.5s;
  }
  .about .about-img::after {
    position: absolute;
    right: 18px;
    bottom:-0.35em;
    width: 70px;
    height: 70px;
    z-index: 1;
    content: "";
    
    transition: 0.5s;
  }
  .about .about-img:hover {
    transform: scale(0.9);
  }
  .about .about-img:hover::before {
    left: 780px;
    top: 0.5px;
  }
  .about .about-img:hover::after {
    right: 15px;
    bottom: -0.5em;
  }

  .about .content {
    position: absolute;
    left:40px;
    top:30px;
    color:rgb(0, 0, 0);
    

  }
  .about .content h3 {
    font-weight: 600;
    font-size: 26px;
  }
  
  .about .content p:last-child {
    margin-bottom: 0;
  }
  @media (min-width: 1024px) {
    .about {
      background-attachment: fixed;
    }
  }

.para{
    text-align: justify;
    font-size: 22px;
}

ul{
    text-align: justify;
    font-size: 22px;
    list-style-type: none;
}

.imgul{
    height: 30px;
    width: 30px;
}