
 <!-- ======= About Section ======= -->
 <div class="about">
    <div class="row">
      <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
        <div class="about-img">
          <img src="../../../assets/img/3054120-removebg-preview.png" class="imag" alt="">
        </div>
      </div>
      <br/>
      
      <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
        <h3>Bom Gràfico .. </h3>
        <p class="para" id="para">
          Bom-Gràfico est une nouvelle agence de communication qui gère <br/>
          tous ce qui concerne la publicité digitale chez les sociétés  <br/>
          et tous personnes physiques. <br/> Elle est une entreprise spécialisée dans les conseils en communication <br/>
          pour les entreprises  qui souhaitent promouvoir leurs produits, <br/> leurs services ou leurs marques. <br/>
          
          <br/>
          Elle est spécialisée en :
        </p>
           <ul>
               <li> <img class="imgul" src="../../../assets/img/pngtree-green-correct-3477122-png-image_1734804-removebg-preview.png"> Charte graphique </li>
               <li>  <img class="imgul" src="../../../assets/img/pngtree-green-correct-3477122-png-image_1734804-removebg-preview.png"> Packaging </li>
               <li>  <img class="imgul" src="../../../assets/img/pngtree-green-correct-3477122-png-image_1734804-removebg-preview.png"> Shooting </li>
               <li>  <img class="imgul" src="../../../assets/img/pngtree-green-correct-3477122-png-image_1734804-removebg-preview.png"> Habillage </li>
               <li>  <img class="imgul" src="../../../assets/img/pngtree-green-correct-3477122-png-image_1734804-removebg-preview.png"> Personnalisé </li>
               <li>  <img class="imgul" src="../../../assets/img/pngtree-green-correct-3477122-png-image_1734804-removebg-preview.png"> Web </li>
           </ul>
          
        
        
      
      </div>
    </div>
<br/> <br/> 
  </div>
<!-- End About Section -->