<!-- ======= Clients Section ======= -->
<section id="why-us" class="why-us">
   
    <div class="container" data-aos="fade-up">
    

      <div class="row">
        <table>
            <tr><td> 
                <h3>Nos clients </h3>
                <h4> Ça fait plaisir de traviller avec : </h4>
            </td></tr>
            <tr> 
            <td> 
                <br/> <br/>
                <div class="col-lg-4">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                      <span>01</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (1).png" class="imgclient"> </span> <br/>
                      <p>L'eau minérale, naturelle MIRA est une eau peu minéralisé de type bicarbonate classique.</p>
                    </div>
                  </div>
            </td>
            <td>
                <br/> <br/>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="200">
                      <span>02</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (2).png" class="imgclient"> </span> <br/>
                      <p>Ben Yaghlane est un réseau naissant de 7 magasins d'épicerie fine installé en Tunisie.</p>
                    </div>
                  </div>
            </td>
            <td>
                <br/> <br/>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="300">
                      <span>03</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (15).png"  style="height: 120px; width:200px"> </span> <br/>
                      <p> MAP est une société de distribution d’encre et de toners de haute qualité pour photocopieurs et imprimantes. </p>
                    </div>
                  </div>

            </td>
        </tr>
        <tr> 
            <td> 
                <br/> <br/>
                <div class="col-lg-4">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                      <span>04</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (4).png" class="imgclient"> </span> <br/>
                      <p> La sauce tomate rustique de DIJA, légèreté et saveurs pour un vrai plaisir aux papilles gustatives.</p>
                    </div>
                  </div>
            </td>
            <td>
                <br/> <br/>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="200">
                      <span>05</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (5).png" class="imgclient"> </span> <br/>
                      <p>Gusto primavera est la maison Artisanal Fromagerie qui est considéré le goût du printemps</p>
                    </div>
                  </div>
            </td>
            <td>
                <br/> <br/>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="300">
                      <span>06</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (6).png" class="imgclient"> </span> <br/>
                      <p>Dreamy Cake est spécialisée dans la création de gâteaux evénementiels.</p>
                    </div>
                  </div>

            </td>
        </tr>
        <tr> 
            <td>
                <br/> <br/>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="300">
                      <span>07</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (16).png" style="height: 150px; width:180px"> </span> <br/>
                      <p>Lilys Skin & Body Care est une clinique holistique intégrative dédiée aux massages de santé et de bien-être.</p>
                    </div>
                  </div>

            </td>
            <td>
                <br/> <br/>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="200">
                      <span>08</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (8).png" class="imgclient"> </span> <br/>
                      <p>Trefle est une marque britannique de maillots de bain et de villégiature de luxe qui présente des designs classiques et intemporels pour hommes, femmes et enfants.</p>
                    </div>
                  </div>
            </td>
            <td>
                <br/> <br/>
                <div class="col-lg-4">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                      <span>09</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (7).png" class="imgclient"> </span> <br/>
                      <p>Sweet cake by salwa est spécialisée dans la création de gâteaux evénementiels. </p>
                    </div>
                  </div>

            </td>
        </tr>
        <tr> 
            <td> 
                <br/> <br/>
                <div class="col-lg-4">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                      <span>10</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (10).png" class="imgclient"> </span> <br/>
                      <p>MAG International Legal firm est un cabinet d'avocats spécialisé dans tous les aspects juridiques concernant les entreprises, le commerce électronique,... </p>
                    </div>
                  </div>
            </td>
            <td>
                <br/> <br/>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="200">
                      <span>11</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (14).png" class="imgclient"> </span> <br/>
                      <p>Merveica est une marque de soins naturels.</p>
                    </div>
                  </div>

            </td>
            <td>
                <br/> <br/>
                <div class="col-lg-4 mt-4 mt-lg-0">
                    <div class="box" data-aos="zoom-in" data-aos-delay="300">
                      <span>12</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (12).png" class="imgclient"> </span> <br/>
                      <p>Krnaf dattes est recommandée pour les adultes sains, les sportifs, les enfants, les femmes enceintes et les personnes en régime et pour prise de poids comme complément alimentaire. </p>
                    </div>
                  </div>

            </td>
        </tr>
        <tr> 
            <td> 
                <br/> <br/>
                <div class="col-lg-4">
                    <div class="box" data-aos="zoom-in" data-aos-delay="100">
                      <span>13</span>
                      <span class="imgclient"> <img src="../../assets/img/client/logo (13).png" class="imgclient"> </span> <br/>
                      <p>Cycy Beauty est une boutique en ligne spécialisée dans la vente d'articles de beauté, de cosmétiques, de produits oeuvrant pour votre bien être et votre remise en forme. </p>
                    </div>
                  </div>
            </td>
            <td>
                
            </td>
            <td> 
                
            </td>
        </tr>
        
        

        
    </table>
        <br/><br/><br/><br/><br/><br/><br/><br/>
      </div>

    </div>
  </section><!-- End Clients Section -->
