
  <!-- ======= Contact Section ======= -->
  <section id="contact" class="contact">
    <br/> <br/> <br/>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="wrapper">
                    <div class="row no-gutters mb-5">
                        <div class="col-md-7">
                            <div class="contact-wrap w-100 p-md-5 p-4">
                                <h3 class="mb-4">Contactez-Nous</h3>
                    
                                <form #f="ngForm"  id="contactForm" (ngSubmit)="ajouterContact(f.value['nom'],f.value['email'],f.value['objet'],f.value['message'])" name="contactForm" class="contactForm">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <label class="label" for="name">Nom</label>
                                                <input type="text" class="form-control" name="nom" id="nom" placeholder="Nom Complet" ngModel>
                                            </div>
                                        </div>
                                        <div class="col-md-6"> 
                                            <div class="form-group">
                                                <label class="label" for="email">Email Address</label>
                                                <input type="email" class="form-control" name="email" id="email" placeholder="Email" ngModel>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="objet">Objet</label>
                                                <input type="text" class="form-control" name="objet" id="objet" placeholder="Objet" ngModel>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <label class="label" for="#">Message</label>
                                                <textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message" ngModel></textarea>
                                            </div>
                                        </div>
                                        <div class="col-md-12">
                                            <div class="form-group">
                                                <input type="submit" value="Envoyer Message" class="btn btn-primary">
                                                <div class="submitting"></div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="col-md-5 d-flex align-items-stretc ">
                            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3197.0685232249425!2d10.3055066147445!3d36.74492627850984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd49d905784743%3A0x20a124eda1a5d844!2sBom%20Grafico!5e0!3m2!1sfr!2stn!4v1666211239700!5m2!1sfr!2stn"></iframe>
                           
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                              <div class="icon d-flex align-items-center justify-content-center">
                                 <span class="fa fa-map-marker"><img src="../../../assets/img/localisateur.png" class="imag1"></span>
                              </div>
                              <div class="text">
                                  <p><span>Addresse:</span> Ben arous, Ezzahra 2034</p>
                               </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-phone"><img src="../../../assets/img/telephone-call.png" class="imag4"> </span>
                        </div>
                        <div class="text">
                        <p><span>Téléphone:</span> +216 22 090 145</p>
                      </div>
                  </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-paper-plane"> <img src="../../../assets/img/email.png" class="imag3"> </span>
                        </div>
                        <div class="text">
                        <p><span>Email:</span> <a href="mailto:contact.bomgrafico@gmail.com">contact.bomgrafico@gmail.com</a></p>
                      </div>
                  </div>
                        </div>
                        <div class="col-md-3">
                            <div class="dbox w-100 text-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="fa fa-globe"> <img src="../../../assets/img/clock.png" class="imag2"> </span>
                        </div>
                        <div class="text">
                        <p><span>Heures de travail :</span> 
                            <p>
                            Lun-Ven :<br>
                            8:00 AM - 17:00 PM
                          </p>
        
                      </div>
                  </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/> <br/> <br/>
</section>
<!-- End Contact Section -->