

 <!-- ======= Gallery Section ======= -->
 <section id="gallery" class="gallery">
    <br/>
    <input type="radio" name="photos" id="check1" checked>
    <input type="radio" name="photos" id="check2" >
    <input type="radio" name="photos" id="check3" >
    <input type="radio" name="photos" id="check4" >
    <input type="radio" name="photos" id="check5" >
    <input type="radio" name="photos" id="check6" >
    <input type="radio" name="photos" id="check7" >

    <div class="container" >
      <div class="section-title">
        <h1 class="entete"> Notre <strong> Galerie </strong> </h1>
      </div>

       <div class="top-content">
           <label for="check1"> All photos</label>
           <label for="check2"> Charte graphique </label>
           <label for="check3"> Packaging </label>
           <label for="check4"> Habillage </label>
           <label for="check5"> Shooting </label>
           <label for="check6"> Personnalisé </label>
           <label for="check7"> Web </label>
      </div>
      <div class="photo-gallery">
          <!--CHARTE-->
            <div class="pic charte" >
                <img src="../../../assets/img/galerie/charte graphique/251533219_4932763660069206_6205016159754884970_n.jpg" >
            </div>
            <div class="pic charte">
                <img src="../../../assets/img/galerie/charte graphique/251889858_4932763340069238_1264686658971392650_n.jpg" >
            </div>
            <div class="pic charte">
                <img src="../../../assets/img/galerie/charte graphique/252074386_4932763503402555_8475220920169499278_n.jpg" >
            </div>
            <div class="pic charte">
                <img src="../../../assets/img/galerie/charte graphique/252504172_4932763833402522_5597774192197495860_n.jpg" >
            </div>
             <!---->
            
             <div class="pic charte">
                <img src="../../../assets/img/galerie/charte graphique/259536997_4987828624562709_1459916016381424979_n.jpg" >
            </div>
            <div class="pic charte">
                <img src="../../../assets/img/galerie/charte graphique/259809111_4987828544562717_3409069025021539449_n.jpg" >
            </div>
            <div class="pic charte">
                <img src="../../../assets/img/galerie/charte graphique/259086439_4987827617896143_3813964895740921172_n.jpg" >
            </div>
            <div class="pic charte">
                <img src="../../../assets/img/galerie/charte graphique/259468914_4987828744562697_8007529287536313143_n.jpg" >
            </div>
            <!---->

            <div class="pic charte">
                <img src="../../../assets/img/galerie/charte graphique/263652289_5040456765966561_2491153572984159140_n.jpg" >
            </div>
            <div class="pic charte">
                <img src="../../../assets/img/galerie/charte graphique/265187560_5040457452633159_5853345287346955183_n.jpg" >
            </div>
            <div class="pic charte">
                <img src="../../../assets/img/galerie/charte graphique/265092941_5040457715966466_3714243624297334931_n.jpg" >
            </div>
            <div class="pic charte">
                <img src="../../../assets/img/galerie/charte graphique/264889857_5040457585966479_2988954496637662447_n.jpg" >
            </div>
            
            

            <!--PACKAGING-->
            <div class="pic packaging">
                <img src="../../../assets/img/galerie/packaging/251608375_4932744370071135_5718065971881459554_n.jpg" >
            </div>
            <div class="pic packaging">
                <img src="../../../assets/img/galerie/packaging/251775935_4932744916737747_3062150210355527744_n.jpg" >
            </div>
            <div class="pic packaging">
                <img src="../../../assets/img/galerie/packaging/252769416_4932744636737775_8204918633726010803_n.jpg" >
            </div> 
        
            <!---->
            <div class="pic packaging">
                <img src="../../../assets/img/galerie/packaging/287534762_5655241744488057_5917635193961893138_n.jpg" >
            </div>
            <div class="pic packaging">
                <img src="../../../assets/img/galerie/packaging/img1 (10).jpg" >
            </div>


            <!--HABILLAGE-->
            
            <div class="pic habillage">
                <img src="../../../assets/img/galerie/habillage/278355748_5473133652698868_543269537021685840_n.jpg" >
            </div>
            <div class="pic habillage">
                <img src="../../../assets/img/galerie/habillage/273994033_2255771431237571_3756416642926846852_n.jpg ">
            </div>
            <div class="pic habillage">
                <img src="../../../assets/img/galerie/habillage/278334444_5473132949365605_1597362513092274009_n.jpg" >
            </div>
            <div class="pic habillage">
                <img src="../../../assets/img/galerie/habillage/895bdc69b0bcae7e075150a19145666c.jpg ">
            </div>
            <div class="pic habillage">
                <img src="../../../assets/img/galerie/habillage/278633284_5480762255269341_8897824524705734186_n.jpg" >
            </div>
            <div class="pic habillage">
                <img src="../../../assets/img/galerie/habillage/pizzahu2.jpg">
            </div>
            <div class="pic habillage">
                <img src="../../../assets/img/galerie/habillage/280091623_5533731489972417_6848653558989168897_n.jpg" >
            </div>

            <!--SHOOTING-->
            <div class="pic shooting">
                <img src="../../../assets/img/galerie/shooting/291721669_5703210526357845_788759853505578394_n.jpg" >
            </div>
            <div class="pic shooting">
                <img src="../../../assets/img/galerie/shooting/img4.jpg" >
            </div>
            <div class="pic shooting">
                <img src="../../../assets/img/galerie/shooting/291568223_5704212809590950_1188363574763232830_n.jpg" >
            </div>
            <div class="pic shooting">
                <img src="../../../assets/img/galerie/shooting/MAC Magnetic Nude Extra Dimension Blushes Reviews, Photos, Swatches.jpg" >
            </div>
            <div class="pic shooting">
                <img src="../../../assets/img/galerie/shooting/img3.jpg" >
            </div>
            <div class="pic shooting">
                <img src="../../../assets/img/galerie/shooting/télécharger (1).jpg" >
            </div>
            <div class="pic shooting">
                <img src="../../../assets/img/galerie/shooting/télécharger (2).jpg" >
            </div>
            <div class="pic shooting">
                <img src="../../../assets/img/galerie/shooting/img2.jpg" >
            </div>
            <div class="pic shooting">
                <img src="../../../assets/img/galerie/shooting/télécharger.jpg" >
            </div>
            <div class="pic shooting">
                <img src="../../../assets/img/galerie/shooting/télécharger1.jpg" >
            </div>
            <div class="pic shooting">
                <img src="../../../assets/img/galerie/shooting/The New Feminine Look to ZARA’s Best-Selling Fragrance.jpg" >
            </div>
            
            
            
            
            

            <!--Personnalisé-->
            <div class="pic personalise">
                <img src="../../../assets/img/galerie/personalise/274050259_5321038967908338_3339960579121971320_n.jpg" >
            </div>
            <div class="pic personalise">
                <img src="../../../assets/img/galerie/personalise/coussin-en-lin-lave-personnalise-avec-son-prenom-et-sa-date-de-naissance.jpg" >
            </div>
            <div class="pic personalise">
                <img src="../../../assets/img/galerie/personalise/photophore-st-valentin-0561-col4.jpg" >
            </div>
            <div class="pic personalise">
                <img src="../../../assets/img/galerie/personalise/274294251_5321039501241618_5738784493434590381_n.jpg" >
            </div>
            <div class="pic personalise">
                <img src="../../../assets/img/galerie/personalise/fr-fr.jpg" >
            </div>
            <div class="pic personalise">
                <img src="../../../assets/img/galerie/personalise/photophore-1771-col4.jpg" >
            </div>
           
            <div class="pic personalise">
                <img src="../../../assets/img/galerie/personalise/274334692_5321039337908301_7440747661372396111_n.jpg" >
            </div>
            
            <div class="pic personalise">
                <img src="../../../assets/img/galerie/personalise/mug-noir-photo-avec-cuillere.jpg" >
            </div>
            
            
           

            <!--WEB-->
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (1).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (2).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (3).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (4).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (5).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (6).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (7).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (8).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (9).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (10).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (11).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (12).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (13).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (14).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (15).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (16).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (17).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (18).png" >
            </div>
            <div class="pic web">
                <img src="../../../assets/img/galerie/web/1 (19).png" >
            </div>
            
      </div>
    </div>
<br/> 

    
  </section><!-- End Gallery Section -->
