 <!-- ======= Hero Section ======= -->
 <section id="hero" class="d-flex align-items-center">
    <div class="container position-relative text-center text-lg-start" data-aos="zoom-in" data-aos-delay="100">
      <div class="row">
        <div class="col-lg-8">
          <h1>Welcome to <span>Bom-Gràfico</span></h1>
          <h2>More than 10 years of expériences </h2>          
        </div>
        
        <div class="col-lg-4 d-flex align-items-center justify-content-center position-relative" data-aos="zoom-in" data-aos-delay="200">
          <a href="https://www.youtube.com/watch?v=u6BOC7CDUTQ" class="glightbox play-btn"></a>
        </div>

      </div>
    </div>
  </section><!-- End Hero -->

  <!-- ======= About Section ======= -->
  <section id="about" class="about">
    <div class="container">

      <div class="row">
        <div class="col-lg-6 order-1 order-lg-2" data-aos="zoom-in" data-aos-delay="100">
          <div class="about-img">
            <img src="../../../assets/img/4738060-removebg-preview.png" class="imag" alt="">
          </div>
        </div>
        <br/>

        <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
          <h3>Bom Gràfico .. </h3>
          <div class="para">
            Bom-Gràfico est une nouvelle agence de communication qui gère <br/>
            tous ce qui concerne la publicité digitale chez les sociétés  <br/>
            et tous personnes physiques. <br/>
          </div>
          <div routerLink="/about">
            <img src="../../../assets/img/7037666.png" class="lienimg">
           </div>
          
          
        
        </div>

       
      </div>

    </div>
    <br/> <br/> <br/> <br/> <br/> <br/> <br/> <br/>
  </section><!-- End About Section -->

  
 <!-- ======= Gallery Section ======= -->
 <section id="gallery" class="gallery">

    <div class="container" >
      <div class="section-title">
       
        <p>Quelques travail de notre <strong> Bom-Gràfico </strong> </p>
      </div>
    </div>

   
    <div class="photo-gallery">
        <!--
                    <div class="pic charte" routerLink="/gallery">
                     <img src="../../../assets/img/charte.jpg" alt="">
                    </div>
                    <div class="pic packaging" routerLink="/gallery">
                    <img src="../../../assets/img/packaging.jpg" alt="" > 
                    </div>
                    <div class="pic shooting" routerLink="/gallery">
                    <img src="../../../assets/img/shooting.jpg" alt="" >
                    </div> <br/>
                    <div class="pic habillage" routerLink="/gallery">
                    <img src="../../../assets/img/habillage.jpg" alt="" >
                    </div>
                    <div class="pic personalise" routerLink="/gallery">
                    <img src="../../../assets/img/personnalise.jpg" alt="">
                    </div>
                    <div class="pic web" routerLink="/gallery">
                     <img src="../../../assets/img/web.jpg" alt="" >
                    </div>
    -->
    <div class="pic charte" routerLink="/gallery">
        <div class="hoverimg"><h3>Charte graphique </h3></div>
        <img src="../../../assets/img/15305.jpg" alt="">
       </div>
       
       <div class="pic packaging" routerLink="/gallery">
        <div class="hoverimg"><h3> Packaging </h3></div>
       <img src="../../../assets/img/21458.jpg" alt="" > 
       </div>

       <div class="pic shooting" routerLink="/gallery">
        <div class="hoverimg"><h3> Shooting </h3></div>
       <img src="../../../assets/img/ensemble-produits-cosmetiques-naturels-anti-age-pour-soins-peau-assiette-ceramique-brunch-roseaux-secs-huile-beaute-pour-visage-huile-essentielle-creme-pour-visage-dans-emballage.webp" alt="" >
       </div> <br/>

       <div class="pic habillage" routerLink="/gallery">
        <div class="hoverimg"><h3> Habillage </h3></div>
       <img src="../../../assets/img/14394.jpg" alt="" >
       </div>

       <div class="pic personalise" routerLink="/gallery">
        <div class="hoverimg"><h3> Personnalisé </h3></div>
       <img src="../../../assets/img/5500139.jpg" alt="">
       </div>

       <div class="pic web" routerLink="/gallery">
        <div class="hoverimg"><h3> Web </h3></div>
        <img src="../../../assets/img/3129998.jpg" alt="" >
       </div>
    </div>
  </section><!-- End Gallery Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">

        <br/> <br/>
    
        <div class="container" data-aos="fade-up">
    
          <div class="row mt-5">
    
            <div class="col-lg-4">
              <div class="info">
                <div class="address">
                  <img src="../../../assets/img/localisateur.png" class="imag1">
                <strong><h4>Localisation :</h4></strong>
                  <p> Ben arous, Ezzahra 2034 </p>
                </div>
                <br/>
                <div class="open-hours">
                    <img src="../../../assets/img/clock.png" class="imag2">
                <strong>  <h4>Heures de travail :</h4></strong>
                  <p>
                    Lun-Ven :<br>
                    8:00 AM - 17:00 PM
                  </p>
                </div>
                <div>
                    <img src="../../../assets/img/3969587-removebg-preview.png" class="lo">
                </div>
                <br/>
                <div class="email">
                    <img src="../../../assets/img/email.png" class="imag3">
                <strong> <h4>Email :</h4></strong>
                  <p>contact.bomgrafico@gmail.com</p>
                </div>
                <br/>
                <div class="phone">
                    <img src="../../../assets/img/telephone-call.png" class="imag4">
                 <strong> <h4>Téléphone :</h4> </strong>
                  <p>+216 22 090 145</p>
                </div>
    
              </div>
    
            </div>
    
            
           
             <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/> <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/> <br/>
          </div>
    
        </div>
      </section><!-- End Contact Section -->


